---

---

<div
	class='prose
    max-w-none
    dark:prose-invert
    [&>*]:font-["Instrument_Sans_Variable",sans-serif]
    prose-p:text-base prose-p:leading-[1.65] prose-p:text-justify
    prose-h1:font-[700] prose-h1:my-4 prose-h1:text-2xl sm:prose-h1:text-3xl/[1.3]
    prose-h2:mt-8 prose-h2:mb-4 prose-h2:text-xl sm:prose-h2:text-2xl prose-h2:font-bold
    prose-h3:mt-6 prose-h3:mb-3 prose-h3:text-lg sm:prose-h3:text-xl
    prose-h4:mt-4 prose-h4:mb-2 prose-h4:text-base sm:prose-h4:text-lg
    prose-img:prose-h3:target:pt-20
    prose-ul:text-base prose-ul:leading-[1.65] prose-ul:list-disc prose-ul:pl-8
    prose-ol:text-base prose-ol:leading-[1.65] prose-ol:list-decimal prose-ol:pl-8
    prose-li:my-1.5 prose-li:text-justify
    prose-blockquote:border-l-4 prose-blockquote:border-zinc-300 dark:prose-blockquote:border-zinc-600 prose-blockquote:pl-4 prose-blockquote:text-justify prose-blockquote:text-zinc-600 dark:prose-blockquote:text-zinc-400
    prose-a:text-blue-600 prose-a:no-underline hover:prose-a:underline dark:prose-a:text-blue-400
    prose-code:text-sm
    prose-pre:text-sm'
>
	<slot />
</div>
