---
import Author from '../Author.astro';
---

<div class='about-the-author py-4 border-b'>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-base my-4'>
		<p class='mb-3'>
			I'm Arun, a full-stack engineer with fresh Data Analytics expertise, crafting efficient solutions in Golang, TypeScript, and Python.
			My focus spans data-driven applications, serverless architectures, and DevOps practices.
		</p>
		<p>
			As an open-source enthusiast, I specialize in creating powerful CLI tools and implementing efficient DevOps practices to significantly
			boost productivity. I'm actively seeking roles that leverage my expertise in automation and development workflows.
		</p>
	</div>
</div>
