---
---

<div class="mb-8">
  <p>
    I am currently learning/contributing to:
  </p>
  <ul class="mt-5">
    <li>
      <strong><a href={"https://github.com/integrations/terraform-provider-github"} target="_blank">integrations/terraform-provider-github</a></strong> -
      Contributor to the GitHub Terraform provider. There are many issues tagged <a href={"https://github.com/integrations/terraform-provider-github/issues?q=is:issue+is:open+label:%22Status:+Up+for+grabs%22+sort:reactions-+1-desc"} target="">Up for Grabs</a> to sift through.
    </li>
    <li>
      I am also currently learning Pulumi!
    </li>
  </ul>
</div>
