---
import SocialLinks from "./SocialLinks.astro";
import Link from "./shared/Link.astro";
import presentation from "@/data/presentation";
---

<>
    <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Get in touch</h3>
    </header>
    <p>
        Email me at <Link
            href={`mailto:${presentation.mail}`}
            label={presentation.mail}
        /> or follow me via my social links.
    </p>

    <SocialLinks />
</>
