---
---

<section class="mb-8">
  <div>
    <p class="mb-2">
      I'm a Data Analytics grad student seeking software and data engineering roles, skilled in Go, with interests in data, serverless architectures, DevOps practices, and CLI tool development.
    </p>
  </div>
</section>
