---
---

<div class="mb-8">
  <p>
    I am currently working on:
  </p>
  <ul class="mt-5">
    <li>
      <strong><a href={"https://github.com/arunsathiya/set-output-janitor"} target="_blank">set-output-janitor</a></strong> - 
      Workflow to automate repetitive changes across many repositories in seconds with the GitHub API.
    </li>
    <li>
      <strong><a href={"https://github.com/arunsathiya/download-google-doc"} target="_blank">download-google-doc</a></strong> -
      CLI program to browse and download Google Docs files in a specific format.
    </li>
    <li>
      <strong><a href={"https://github.com/arunsathiya/gh-ssh-import"}>gh-ssh-import</a></strong> -
      A GitHub CLI extension to import SSH keys from local and disk into your GitHub account.
    </li>
  </ul>
</div>
