---
---

<section class="mb-8">
  <div class="mb-4">
    <p class="mb-5">
      Reach out if you are hiring at <a href={"mailto:arun@arun.blog"} target="_blank">arun@arun.blog</a>, <a href={"https://linkedin.com/in/arunsathiya"} target="_blank">LinkedIn</a> or <a href={"https://twitter.com/arunsathiya"} target="_blank">Twitter</a>.
    </p>
  </div>
</section>
