---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectList from '../../components/ProjectList.astro';
import { projects } from './projects';
---

<BaseLayout title='Projects' description='Mostly small, hobby projects published to the open source.'>
	<script>
		import('@zachleat/snow-fall');
		import('@11ty/is-land/is-land.js');
	</script>
	<is-land class='dark:block hidden' on:media='(prefers-reduced-motion: no-preference)'>
		<snow-fall count='10' style='--snow-fall-color: white'></snow-fall>
	</is-land>
	<is-land class='dark:hidden block' on:media='(prefers-reduced-motion: no-preference)'>
		<snow-fall count='10' style='--snow-fall-color: cornflowerblue'></snow-fall>
	</is-land>
	<div class='container'>
		<div class='mb-10'>
			<h1 class='text-3xl font-bold mb-2'>Projects</h1>
			<p class='text-zinc-700 dark:text-zinc-300 text-lg'>Mostly small, hobby projects published to the open source.</p>
		</div>
		<ProjectList projects={projects} />
	</div>
</BaseLayout>
