---
---
<div class="relative">
  <div 
    class="absolute inset-0 bg-gradient-to-b from-blue-900/10 to-transparent h-48 w-full pointer-events-none"
  >
  </div>
  <div class="relative z-10">
    <slot />
  </div>
</div>